/* --- CUSTOM PROPERTIES --- */

:root {
    --col-dark: 230 35% 7%;
    --col-light: 231 77% 90%;
    --col-white: 0 0% 100%;
    /* --col-drk: 11 13 23; */
}

/* ---- RESET ---- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* box sizing */

*, *::before, *::after {
    box-sizing: border-box;
}

/* reset margins */

body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0;
}

/* make images easier to work with */

img, picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */

input, button, textarea, select {
    font: inherit;
}

/* make form elements easier to work with */

input, button, textarea, select {
    font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --- UTILITY CLASSES ---  */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    /* inline is newer shorthand for left/right */
    padding-inline: 2rem;
    max-width: 80rem;
    margin-inline: auto;
}

/* screen reader only */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

/* colors */

.bg-dark {
    background-color: hsl( var(--col-dark));
}

.bg-light {
    background-color: hsl( var(--col-light));
}

.bg-white {
    background-color: hsl( var(--col-white));
}

.text-dark {
    color: hsl( var(--col-dark));
}

.text-light {
    color: hsl( var(--col-light));
}

.text-white {
    color: hsl( var(--col-white));
}